@using Resume.Infrastructure.Entities.Membership;
@model IEnumerable<ResumeUser>
@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Bootstrap Basic Tables</h4>
                    <span>
                        lorem ipsum dolor sit amet, consectetur adipisicing
                        elit
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="../index.html"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Bootstrap Table</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Basic Table</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="page-body">

    <div class="card">
        <div class="card-header">
            <h5>Basic Table</h5>
            <span>use class <code>table</code> inside table element</span>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-imaged">
                    <thead class="w-100">
                        <tr class="w-100">
                            <th class="cell-small">Image</th>
                            <th class="cell-large">Name</th>
                            <th class="cell-large">Surname</th>
                            <th class="cell-large"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="cell-small">
                                    <img class="img-fluid" src="~/uploads/images/@item.ImagePath" />
                                </td>
                                <td class="cell-large ellipsis">
                                    <a href="@item.Name" target="_blank">
                                        @item.Name
                                    </a>
                                </td>
                                <td class="cell-large ellipsis">
                                    <a href="@item.Surname" target="_blank">
                                        @item.Surname
                                    </a>
                                </td>


                                <td class="d-flex justify-content-end">
                                    <a class="btn btn-info" asp-action="details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                                    <a class="btn btn-warning ml-3 mr-3" asp-action="edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a>

                                   
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
